@import "tailwindcss";
@plugin "daisyui";

:root{
  /* Primary colors */
  --color-primary: #FF3811;       /* Orange: main primary color for buttons, highlights, etc. */

  /* Text colors */
  --color-primary-text: #FF3811;  /* Same as primary, used for highlighted text */
  --color-secondary-text: #FFFFFF; /* White, used on dark backgrounds */
  --color-main-dark: #151515;     /* Main dark: used as text and sometimes background */
  --color-light-dark: #444444;    /* Lighter dark: for headings and secondary text */
  --color-gray: #737373;          /* Gray: for normal text */

  /* Background / UI */
  --color-white: #FFFFFF;          /* For text and icons/arrows */
}

@theme{
  --font-sans:var(--font-inter), sans-serif;
  --color-primary: #FF3811;
  --color-primary-text: #FF3811;  /* Same as primary, used for highlighted text */
  --color-secondary-text: #FFFFFF; /* White, used on dark backgrounds */
  --color-main-dark: #151515;     /* Main dark: used as text and sometimes background */
  --color-light-dark: #444444;    /* Lighter dark: for headings and secondary text */
  --color-gray: #737373;          /* Gray: for normal text */
  --color-white: #FFFFFF; 
  --color-border: #E8E8E8;
  --color-bg: #F3F3F3;
}